html * {
    font-family: 'Roboto', sans-serif;
}

.demo-card-wide.mdl-card {
    width: 512px;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.demo-layout-transparent {
    background: url('../assets/demos/transparent.jpg') center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
        your background is light. */
    color: white;
}

/* CANVASS CSS START */
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

canvas{
    background-color: #000;
}

.container-fluid, .container {
    position: fixed;
}

.header {
    position: relative;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}
/* CANVASS CSS END */

h1 {
    font-family: Helvetica;
    color: #eee;
}

h2, h3, h4, h5, h6 {
    font-family: Helvetica;
    color: #9e9e9e;
}

#portfolio-details {
    padding-top: 30px;
    margin: 0 3rem 0 3rem;
}

#profile-picture {
    max-height: 150px;
}

/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../assets/Loading.gif') center no-repeat #fff;
}

#project-label {
    font-weight: 400;
    font-size: large;
    color: #eee;
}

.card-body {
    background-color: #F5F5F5
}

#contact-informations {
    background-color: #9e9e9e;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: none;
    color: white;
    text-align: center;
    padding: 25px 15px 25px 15px;
}

footer div.row {
    display: contents;
    font-size: 0.75rem;
}

.fa.icon:hover {
    cursor: pointer;
}
.fa.icon {
    font-size: 2.5rem;
}

a .fa.icon:hover {
    color: #9e9e9e;
}

a i.fa-linkedin-square {
    color: #0e76a8;
}

a i.fa-envelope-square {
    color: #D44638;
}

a i.fa-github-square {
    color: #333;
}

a i.fa-steam-square {
    color: #2a475e;
}

.w-18-rem {
    width: 18rem;
}